:root {
    --clr-dark: #0f172a;
    --clr-light: #f1f5f9;
    --clr-accent: #e11d48;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1;
    word-spacing: 1.4px;
    font-family: 'Roboto', sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-light);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

.board {
    max-width: 600px;
    max-height: 600px;
    width: 600px;
    height: 600px;
    /* margin: 0 auto; */
    border: 5px solid var(--clr-dark);
    border-radius: 10px;
    padding: 2px;
}

.board__item {
    /* background-color: #fb7185; */
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 150px; */
    border: 3px solid var(--clr-accent);
    /* font-size: 8rem; */
}

.letter {
    line-height: 0rem;
    font-size: 13rem;
}

.board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


.card {
    border: 3px solid var(--clr-accent);
    width: 100px;
    height: 100px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__letter {
    font-size: 6rem;
}

.game-players__container {
    /* position: relative; */
    display: flex;
    align-items: center;
    gap: 30px;
    /* border: 2px dotted red; */
    height: 120px;
}

.score {
    padding-top: 8px;
    border-bottom: 2px solid var(--clr-accent);
}

.game-players {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* border: solid 2px var(--clr-dark); */
}

.turn {
    line-height: .8rem;
    padding-bottom: 4px;
    text-align: center;
}

.player {
    display: flex;
    flex-direction: column;
}

.player {
    align-self: end;
}

.score__vs {
    font-weight: 700;
}

.turn--inactive {
    visibility: hidden;
}

.arrow {
    font-weight: 700;
}

/* Mobile-first media queries */
@media (max-width: 767px) {
    .board {
        width: 300px;
        height: 300px;
    }

    .letter {
        font-size: 6rem;
    }

    .card {
        width: 80px;
        height: 80px;
    }

    .game-players__container {
        gap: 15px;
        height: 100px;
        font-size: .8rem;
    }

    .score__vs {
        font-size: .8rem;
    }

    .turn {
        padding-bottom: 2px;
        font-size: .75rem;
    }

    .card__letter {
        font-size: 4rem;
    }
}