:root {
    --clr-dark: #0f172a;
    --clr-light: #f1f5f9;
    --clr-accent: #e11d48;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* margin: 5rem 5rem; */

    line-height: 1.6;
    word-spacing: 1.4px;
    font-family: 'Roboto', sans-serif;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

.container {
    max-width: 600px;
    max-height: 600px;
    width: 600px;
    height: 600px;
    /* margin: 0 auto; */
    border: 10px solid var(--clr-dark);
}

.item {
    padding: 0.5em;
    background-color: #fb7185;
    font-weight: 700;
    color: var(--clr-light);
    border: 10px solid var(--clr-accent);
}