.container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* FOR CELLS IN THE GRID */
    /* 
    justify-items: start; left to right
    align-items: end; up and down
    */

    /* FOR THE GRID */
    /* justify-content: center;
    align-content: center; */
}


.item-1 {
    /* justify-self: center;
    align-self: stretch; */
}

/* 
.item-1 {
   read in lines 
    
    columns to the right (cr)
    rows down (rd)
    
  

    grid-area: 1 / 1 / -1 / 5;
}

  */
/* .item-2 { */
/* read in lines 
        grid-area  = down, right, up, left (drul)
    
    */
/* grid-area: 3 / 4 / 5 / 6;
    z-index: 1; */
/* grid-row: span 2;
    grid-column: span 2; */
/* z-index: 1; */

/* grid-area: 3 / 4 / 5 / 6; */
/* } */

/* .item-3 { */
/* Span is dynamic and grid-area is hardcoded */
/* grid-column: span 2;
    grid-area: 1 / 5 / -1 / 7; */
/* } */